<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="../../assets/style/global.css" />
    <link rel="stylesheet" href="../../assets/style/reset.css" />
  </head>
  <body>
    <section class="banner_component">
      <img src="./img/banner.jpg" alt="" class="bg_image pc" />
      <img src="./img/banner_mb.jpg" alt="" class="bg_image mb" />
      <div class="coatting"></div>
      <div class="content_banner">
        <h1 class="title">The King and Sun of Vietnam's Plastic Industry</h1>
        <p class="desc">
          With years of experience, we lead the way in creating innovative and
          eco-friendly packaging solutions for all industries.
        </p>
      </div>
      <div class="breadcrumb">
        <p class="text"><span>Home</span> / About us</p>
      </div>
    </section>
  </body>
</html>
