<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/styles.css" />
  </head>
  <body>
    <section class="relatedProductSection">
      <div class="section_header">
        <h2 class="section_title">Explore Related Products</h2>
        <a class="see_more_btn see_more_btn_pc" href="#">
          <span> See more </span>
        </a>
      </div>
      <div class="section_content">
        <div class="product_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="33"
            height="32"
            viewBox="0 0 33 32"
            fill="none"
          >
            <path
              d="M28.2539 16L21.5872 9.33334M28.2539 16L21.5872 22.6667M28.2539 16H4.25391"
              stroke="#272727"
              stroke-width="2.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <img
            src="./assets/images/d94449eb-b461-47a8-8fe5-7cdb04b77914 1.png"
            alt=""
          />
          <p>Plastic bags with rigid handle</p>
        </div>
        <div class="product_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="33"
            height="32"
            viewBox="0 0 33 32"
            fill="none"
          >
            <path
              d="M28.2539 16L21.5872 9.33334M28.2539 16L21.5872 22.6667M28.2539 16H4.25391"
              stroke="#272727"
              stroke-width="2.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <img
            src="./assets/images/d94449eb-b461-47a8-8fe5-7cdb04b77914 1.png"
            alt=""
          />
          <p>Plastic bags with rigid handle</p>
        </div>
        <div class="product_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="33"
            height="32"
            viewBox="0 0 33 32"
            fill="none"
          >
            <path
              d="M28.2539 16L21.5872 9.33334M28.2539 16L21.5872 22.6667M28.2539 16H4.25391"
              stroke="#272727"
              stroke-width="2.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <img
            src="./assets/images/d94449eb-b461-47a8-8fe5-7cdb04b77914 1.png"
            alt=""
          />
          <p>Plastic bags with rigid handle</p>
        </div>
        <div class="product_item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="33"
            height="32"
            viewBox="0 0 33 32"
            fill="none"
          >
            <path
              d="M28.2539 16L21.5872 9.33334M28.2539 16L21.5872 22.6667M28.2539 16H4.25391"
              stroke="#272727"
              stroke-width="2.66667"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <img
            src="./assets/images/d94449eb-b461-47a8-8fe5-7cdb04b77914 1.png"
            alt=""
          />
          <p>Plastic bags with rigid handle</p>
        </div>
      </div>
      <a class="see_more_btn see_more_btn_mb" href="#">
        <span> See more </span>
      </a>
    </section>
    
  </body>
</html>
